# Python
venv/
__pycache__/
*.pyc
*.pyo

# Büyük veri dosyaları
data/csv/*.csv
data/csv/*.png
data/csv/*.txt
data/pcap/*.pcap
data/output/*.csv
# Grafik çıktıları
data/plots/*.png
data/model_outputs/*.csv
data/model_outputs/*.png

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/
